h1 {
    font-style: italic;
}

body {
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#title {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 20px 2px 40px;
    transition: width 0.4s ease-in-out;
  }

  #body {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 20px 2px 40px;
    transition: width 0.4s ease-in-out;
  }

  input[type=submit] {
    border: none;
    padding: 4px 10px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
  }