body{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#calculator{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

input[type=text]{
    width: 220px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}